<!DOCTYPE html>
<html>
<head>
<title>Contas</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: center;
}
table {
  border-spacing: 5px;
}
</style>
</head>
<div id="app">
	<br>
	Nome: <input v-model="inputPessoaNome" v-on:keyup.13="adicionarPessoa"><br>
	<button v-on:click="adicionarPessoa">Add Pessoa</button><br>
	<br>
	<table>
		<tr>
			<th colspan="2">Pessoas</th>
		</tr>
		<tr>
			<th>ID</th><th>Nome</th>
		</tr>
		<tr v-for="pessoa in pessoas">
			<td>{{pessoa.id}}</td><td>{{pessoa.nome}}</td>
		</tr>
	</table>
	<br>
	Nome: <input v-model="inputItem.nome"><br>
	Valor: <input type="number" v-model="inputItem.valor"><br>
	Quem Pagou:<select v-model="inputItem.quempagou">
		<option v-for="pessoa in pessoas" v-bind:value="pessoa.id">{{pessoa.nome}}</option>
	</select><br>
	Quem usou: 
	<span v-for="pessoa in pessoas">
		{{pessoa.nome}}: <input type="checkbox" v-model="pessoa.checked">
	</span>
	<button v-on:click="adicionarItem">Add Item</button><br>
	<br>
	<table>
		<tr>
			<th colspan="5">Itens</th>
		</tr>
		<tr>
			<th>ID</th><th>Item</th><th>Preco</th><th>Quem pagou?</th><th>Quem usou?</th>
		</tr>
		<tr v-for="item in itens">
			<td>{{item.id}}</td><td>{{item.nome}}</td><td>{{item.valor}}</td><td>{{ getPessoa(item.quempagou).nome }}</td><td>{{formatItens(item.quemusou)}}</td>
		</tr>
	</table>
	<br>
	<table>
		<tr>
			<th colspan="5">Grupos</th>
		</tr>
		<tr>
			<th>Membros</th><th>Total</th><th>Contribuicao</th>
		</tr>
		<tr v-for="item in itens">
			
		</tr>
	</table>
</div>
<body>
<script src="index.js"></script>
</body>
</html>